<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <main class="container std-padding-v">
      <% if (parentFolder) { %>
        <a href="<%= `/folder/${parentFolder.id}` %>">Back to <%= parentFolder.name %></a>
      <% } else { %>
        <a href="/">Back to root directory</a>
      <% }; %>
      <header class="flex-h flex-between">
        <h1><%= file.name %></h1>
        <a href="/file/<%= file.id %>/download">
          <img src="/public/icons/download.svg" alt="download file <%= file.name %>">
        </a>
      </header>
      <h2>Created at: <%= file.createdAt %></h2>
      <h2>Size: <%= Math.round(file.size / 1000) %> kb</h2>
      
    </main>
  </body>
</html>