<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <div class="container std-padding-v">
      <%- include('file-header.ejs') %>
      <main class="std-padding-top">
        <div class="flex-h flex-between">
          <div class="bold">Created at:</div>
          <div><%= file.createdAt %></div>
        </div>
        <div class="flex-h flex-between">
          <div class="bold">Size:</div>
          <div><%= Math.round(file.size / 1000) %> kb</div>
        </div>
      </main>
    </div>
  </body>
</html>