<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <main class="container">
      <% if (parentFolder) { %>
        <a href="<%= `/folder/${parentFolder.id}` %>">Back to <%= parentFolder.name %></a>
      <% } else { %>
        <a href="/">Back to root directory</a>
      <% }; %>
      <h1><%= file.name %></h1>
      <%- include('update-file-form.ejs') %>
      <h2>Created at: <%= file.createdAt %></h2>
      <h2>Size: <%= Math.round(file.size / 1000) %> kb</h2>
      <a href="/file/<%= file.id %>/download">Download</a>
      <%- include('delete-file-form.ejs') %>
    </main>
  </body>
</html>