<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <main class="container">
      <h1>Log In</h1>
      <form action="/account/log-in" method="post" class="std-form">
        <label class="form-row">
          Email:
          <div>
            <input type="email" name="email" autocomplete="email" value="<%= locals.formData?.email ? formData.email : '' %>" required />
            <div class="form-error" id="form-error--email">
              <%= locals.errors?.email ? errors.email : 'dummy' %>
            </div>
          </div>
        </label>
        <label class="form-row">
          Password:
          <div>
            <input type="password" name="password" autocomplete="current-password" value="<%= locals.formData?.password ? formData.password : '' %>" required />
            <div class="form-error" id="form-error--password">
              <%= locals.errors?.password ? errors.password : 'dummy' %>
            </div>
          </div>
        </label>
        <button type="submit">Log In</button>
      </form>
    </main>
  </body>
</html>