<% if ((locals.folders && folders.length > 0) || (locals.files && files.length > 0)) { %>
  <ul>
    <% for (const folder of folders) { %>
      <li>
        <a href="/folder/<%= folder.id %>">
          <%= folder.name %>
        </a>
      </li>
    <% }; %>
    <% if (locals.files) { %>
      <% for (const file of files) { %>
        <li>
          <a href="/file/<%= file.id %>">
            <%= file.name %>
          </a>
          <%- include('../file/delete-file-form.ejs', { file }) %>
        </li>
      <% }; %>
    <% }; %>
  </ul>
<% } else { %>
  <p>This folder is empty.</p>
<% }; %>