<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/nav.ejs') %>
    <h1>Hello, <%= locals.user ? user.email : 'world' %></h1>
    <%- include('partials/new-folder-form.ejs') %>
    <%- include('partials/file-upload-form.ejs') %>
    <%- include('partials/directory-list.ejs') %>
  </body>
</html>