<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <main class="container std-padding-v">
      <% if (folder.parentId) { %>
        <a href="<%= `/folder/${folder.parentId}` %>">Back to <%= folder.parent.name %></a>
      <% } else { %>
        <a href="/">Back to root directory</a>
      <% }; %>
      <%- include('../partials/directory-header.ejs') %>
      <%- include('../partials/directory-list.ejs', { folders: folder.children, files: folder.files }) %>
    </main>
  </body>
</html>