<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <main class="container std-padding-v">
      <% if (folder.parentId) { %>
        <a href="<%= `/folder/${folder.parentId}` %>">Back to <%= folder.parent.name %></a>
      <% } else { %>
        <a href="/">Back to root directory</a>
      <% }; %>
      <header class="flex-h flex-between">
        <h1><%= folder.name %></h1>
        <div class="folder__buttons flex-h">
          <form action="/file/upload" method="post" enctype="multipart/form-data">
            <!-- hide file input and trigger dialog when button clicked? -->
            <input type="file" name="file" id="file" class="hidden" required>
            <button type="button" class="button-no-style std-button" onclick="(() => { const folderId = document.getElementById('folderId'); const fileInput = document.getElementById('file'); fileInput.click(); fileInput.addEventListener('change', () => folderId.click(), { once: true }); })()">
              <img src="/public/icons/upload_file.svg" alt="upload file">
            </button>
            <button type="submit" class="hidden" id="folderId" name="folderId" value="<%= folder.id %>">folderId</button>
          </form>
          <form action="/folder/<%= folder.id %>/new" method="post">
            <button type="submit" class="button-no-style std-button">
              <img src="/public/icons/create_new_folder.svg" alt="create new folder">
            </button>
          </form>
        </div>
      </header>
      <%- include('../partials/file-upload-form.ejs') %>
      <%- include('../partials/directory-list.ejs', { folders: folder.children, files: folder.files }) %>
    </main>
  </body>
</html>