<form action="/folder/<%= locals.folder ? folder.id + '/' : '' %>update" method="post" class="std-form">
  <label class="form-row">
    Name:
    <div class="relative">
      <input type="text" name="name" value="<%= folder.name %>" required>
      <img src="/public/icons/error_36.svg" alt="email input error" class="<%= (locals.errors?.name) ? 'invalid-input__icon' : 'invalid-input__icon visibility-none' %>">
    </div>
    <div class="<%= (locals.errors?.name) ? 'form-error' : 'form-error visibility-none' %>" id="form-error--name">
      <%= locals.errors?.name ? errors.name : 'no errors' %>
    </div>
  </label>
  <button type="submit">Rename Folder</button>
</form>