<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <h1>Log In</h1>
      <form action="/log-in" method="post">
        <label>
          Email:
          <input type="email" name="email" autocomplete="email" value="<%= locals.formData?.email ? formData.email : '' %>" />
          <div id="form-error--email">
            <%= locals.errors?.email ? errors.email : '' %>
          </div>
        </label>
        <label>
          Password:
          <input type="password" name="password" autocomplete="current-password" value="<%= locals.formData?.password ? formData.password : '' %>" />
          <div id="form-error--password">
            <%= locals.errors?.password ? errors.password : '' %>
          </div>
        </label>
        <button type="submit">Log In</button>
      </form>
  </body>
</html>